#discojuice {
	font-family: Arial;
	font-size: small;
}


#discojuice input#ulxSearchField {
	width: 100%;
}

#discojuice #s {
	font-family: Arial;
	font-size: 12px;
	margin: 0;
	padding: 0;
}
#discojuice p {
	margin: 2px; padding: 0px;
}


#discojuice a {
	outline: none;
	color: #0077a1;
}

#discojuice a img {
	border: none;
	outline: none;
}

#discojuice a:hover {
	color: #34a5cd;
}


#discojuice #overlay {
	z-index: 100;
	width: 100%;
	height: 100%;
	background: url(../images/overlay.png);
	position: absolute;
	top: 0;
	left: 0;
}

dl#discojuice {
	margin: 0;
	padding: 0;
	width: 320px;
	position: absolute;
	top: 30px;
	right: 10px;
	z-index: 150;
}

dl#discojuice dt {
	background: url(../images/box-top.png) no-repeat;
	position: relative;
	margin: 0;
	height: 52px;
}

dl#discojuice dd {
	background: url(../images/box-main.png) no-repeat 0% 100%;
	position: relative;
	padding: 10px 17px;
	margin: 0;
}

dl#discojuice dd.bottom {
	background: url(../images/box-bottom.png) no-repeat 0% 100%;
	position: relative;
	padding: 10px 17px;
	margin: 0;
}

#discojuice #maintitle {
	font-size: 15px;
	font-family: Tahoma, Helvetica;
	font-weight: normal;
	position: absolute;
	top: 12px;
	left: 17px;
}

#discojuice #subtitle {
	font-size: 12px;
	font-family: Tahoma, Helvetica;
	font-weight: normal;
	position: absolute;
	top: 30px;
	left: 17px;
	color: #666;
}

#discojuice #close {
	width: 62px;
	height: 29px;
	background: url(../images/close.png) no-repeat;
	display: block;
	text-indent: -9999px;
	top: 15px;
	right: 5px;
	position: absolute;
}

#discojuice #close:hover {
	background: url(../images/close-hover.png) no-repeat;
}

#discojuice #loginsearch_flexselect_dropdown {
	display: none !important;
}

#discojuice #loginsearch_flexselect {
	background: url(../images/search-active.png) no-repeat;
	width: 251px;
	height: 20px;
	font-size: 12px;
	color: #333;
	padding: 5px 30px 5px 5px;
	border: none;
}

#discojuice #loginsearch_flexselect.empty {
	color: #aaa;
	background: url(../images/search.png) no-repeat;
}


/* Scroller */
#discojuice #content {
	overflow: auto;	
	max-height: 350px;	
}
#discojuice div#scroller {

	padding:  1px;
}
#discojuice div#scroller img {
	margin: 0px;
	float:  right;
}


#discojuice div#scroller a span {
	margin: 3px;
	display: block;
}
#discojuice div#scroller a span.substring {
	font-size:  95%;
	color: #777;
}
#discojuice div#scroller hr {
	margin: 0px;
	padding: 0px;
}










/*
 * ------ SECTION FOR THE IDP Buttons -----
 */

/* Generals */
#discojuice div#scroller a {
	margin: 4px 2px 0px 0px;
	display:  block;

	border: 1px solid #8ec1da;
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	
	background-color: #ddeef6;

	/* Text */
	color: #3985a8;
	text-shadow: 0 1px #fff;
	font-size:  135%;
	font-family:  "Arial Narrow", "Arial", sans-serif;
	text-decoration: none;
}

/* Shaddow effect for normal entries... */
#discojuice div#scroller a  {
/*	box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;*/
} 


/* Item that is hovered. */
#discojuice div#scroller a:hover, #discojuice div#scroller a.hothit:hover {
	background-color: #fafafa;
}
#discojuice div#scroller a:hover {
	background-color: #fafafa;
	border: 1px solid #999;

/*
	-o-box-shadow: none;
	-webkit-box-shadow:none;
	-moz-box-shadow: none;
	color: #333;
	text-shadow: 0 1px #fff;
*/
}


/* Highlight the entry that is listed on top reccomended.
 * usually because the user has selected that item before.
 */
#discojuice div#scroller a.hothit {
/*	border: 3px solid #ccc;*/
	border: 2px solid #8ec1da;
	background-color: #daebf3;
	color: #333;
	margin-bottom: 14px;
	
	border-radius: 4px;
	box-shadow: 0 0 5px  #d8e9f0;
	-o-box-shadow: 0 0 5px  #d8e9f0;
	-webkit-box-shadow: 0 0 5px  #d8e9f0;
	-moz-box-shadow: 0 0 5px  #d8e9f0;
	color: #333;
	text-shadow: 0 1px #fff;
}




#discojuice div#scroller.filtered a {
	display: none !important;
}

#discojuice div#scroller.filtered a.present {
	display: inline-block !important;
}

/*
 * ------ END OF ---- SECTION FOR THE IDP Buttons -----
 */
















#discojuice a#moreoptions, a#what {
	padding-left: 12px;
	background: url(../images/arrow.png) no-repeat 0px 3px;
}

#discojuice #whatisthis.show a#what {
	background: url(../images/arrow-r.png) no-repeat 0px 5px;
}

#discojuice p#moretext {
	margin-top: 0;
	color: #777;
}

#discojuice div#whatisthis {
	margin-bottom: 10px;
}

#discojuice #whattext {
	display: none;
	margin-top: 1px;
	margin-left: 12px;
	margin-bottom: 0;
	padding: 0;
	font-size: 11px;
	color: #555;
}

#discojuice #whatisthis.show #whattext {
	display: block;
}
